doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" , href="style.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    title
        | Document
  body
    header
        nav
            div(class="logo")
              p citcat
              img(src="icons8-windsock-48.png")
            div(class="map")
              p egypt
              img(src="icons8-maps-48.png")
            div(class="info")
              .f 
                img(src="icons8-home-alarm-48.png")
              img(class="my-img")
        div(class="sun-moon")
          div(class="today")
            div(class="head")
              p today
            div(class="deg")
              p 20
              img(src="icons8-partly-cloudy-day-48.png")
            div(class="details")
              .maximum
                img(src="icons8-haze-48.png")
                p max
                  br
                  | 25
              .minimal
                img(src="icons8-fog-48.png")
                p min
                  br
                  | 10
              .wind
                img(src="icons8-wind-48.png")
                p="wind"
                  br
                  | 18km/h
              .rain
                img(src="icons8-wet-48.png")
                p rain
                  br
                  | 5%
              .Dust
                img(src="icons8-dust-48.png")
                p Dust
                  br
                  | 10%
              .Humidity
                img(src="icons8-hygrometer-48.png")
                p Humidity
                  br
                  | 20%
          .sun
          .moon
          div(class="rise")
            img(src="icons8-sunrise-48.png")
            p 5:08AM
          div(class="set")
            p 6:55PM
            img(src="icons8-sunset-48.png")
    div(class="day-by-day")
      .sat
        div(class="head")
          p Saturday
        div(class="deg")
          p 20
          img(src="icons8-partly-cloudy-day-48.png")
        div(class="details")
          .wind
            img(src="icons8-wind-48.png")
            p="wind"
              br
              | 18km/h
          .rain
            img(src="icons8-wet-48.png")
            p rain
              br
              | 15%
          .Dust
            img(src="icons8-dust-48.png")
            p Dust
              br
              | 10%
          .Humidity
            img(src="icons8-hygrometer-48.png")
            p Humidity
              br
              | 30%
      .sun-day
        div(class="head")
          p Sunday
        div(class="deg")
          p 15
          img(src="icons8-rain-cloud-48.png")
        div(class="details")
          .wind
            img(src="icons8-wind-48.png")
            p="wind"
              br
              | 18km/h
          .rain
            img(src="icons8-wet-48.png")
            p rain
              br
              | 50%
          .Dust
            img(src="icons8-dust-48.png")
            p Dust
              br
              | 10%
          .Humidity
            img(src="icons8-hygrometer-48.png")
            p Humidity
              br
              | 10%    
      .mon
        div(class="head")
          p monday
        div(class="deg")
          p 12
          img(src="icons8-heavy-rain-48.png")
        div(class="details")
          .wind
            img(src="icons8-wind-48.png")
            p="wind"
              br
              | 18km/h
          .rain
            img(src="icons8-wet-48.png")
            p rain
              br
              | 90%
          .Dust
            img(src="icons8-dust-48.png")
            p Dust
              br
              | 10%
          .Humidity
            img(src="icons8-hygrometer-48.png")
            p Humidity
              br
              | 10%
      .tue
        div(class="head")
          p Tuesday
        div(class="deg")
          p 5
          img(src="icons8-snow-48.png")
        div(class="details")
          .wind
            img(src="icons8-wind-48.png")
            p="wind"
              br
              | 18km/h
          .rain
            img(src="icons8-wet-48.png")
            p rain
              br
              | 95%
          .Dust
            img(src="icons8-dust-48.png")
            p Dust
              br
              | 10%
          .Humidity
            img(src="icons8-hygrometer-48.png")
            p Humidity
              br
              | 1%
      .wed
        div(class="head")
          p Wednesday
        div(class="deg")
          p 18
          img(src="/icons8-partly-cloudy-day-48.png")
        div(class="details")
          .wind
            img(src="icons8-wind-48.png")
            p="wind"
              br
              | 12km/h
          .rain
            img(src="icons8-wet-48.png")
            p rain
              br
              | 20%
          .Dust
            img(src="icons8-dust-48.png")
            p Dust
              br
              | 10%
          .Humidity
            img(src="icons8-hygrometer-48.png")
            p Humidity
              br
              | 10%
      .thu
        div(class="head")
          p Thursday
        div(class="deg")
          p 22
          img(src="/icons8-summer-48.png")
        div(class="details")
          .wind
            img(src="icons8-wind-48.png")
            p="wind"
              br
              | 18km/h
          .rain
            img(src="icons8-wet-48.png")
            p rain
              br
              | 5%
          .Dust
            img(src="icons8-dust-48.png")
            p Dust
              br
              | 10%
          .Humidity
            img(src="icons8-hygrometer-48.png")
            p Humidity
              br
              | 10%
